machine:
  kubelet:
    extraArgs:
{% if talos_machineconfig_node_labels != '' %}
      node-labels: "{{ talos_machineconfig_node_labels }}"
{% endif %}
    nodeIP:
      validSubnets:
{% if ansible_facts["default_ipv4"] is defined and ansible_facts["default_ipv4"]["address"] is defined %}
        - "{{ ansible_facts["default_ipv4"]["address"] }}/32"
{% endif %}
{% if ansible_facts["default_ipv6"] is defined and ansible_facts["default_ipv6"]["address"] is defined and ansible_facts["default_ipv6"]["address"][:4] != 'fe80' %}
        - "{{ ansible_facts["default_ipv6"]["address"] }}/128"
{% endif %}
  network:
    hostname: "{{ server_hostname|default(inventory_hostname)|split('.')|first }}"
    interfaces:
      - interface: eth0
        dhcp: false
        addresses:
{% set cidrv4 = ansible_facts["default_ipv4"]["address"] + '/' + ansible_facts["default_ipv4"]["prefix"] if ansible_facts["default_ipv4"] is defined and ansible_facts["default_ipv4"]["address"] is defined %}
{% set cidrv6 = ansible_facts["default_ipv6"]["address"] + '/' + ansible_facts["default_ipv6"]["prefix"] if ansible_facts["default_ipv6"] is defined and ansible_facts["default_ipv6"]["address"] is defined %}
{% if cidrv4 is defined and cidrv4 != "" %}
          - "{{ cidrv4 }}"
{% endif %}
{% if cidrv6 is defined and cidrv6 != "" and cidrv6['address'][:4] != 'fe80' %}
          - "{{ cidrv6 }}"
{% endif %}
        routes:
{% if ansible_facts["default_ipv4"] is defined and ansible_facts["default_ipv4"]["address"] is defined %}
{% if not (ansible_facts["default_ipv4"]["gateway"] | ansible.utils.ipaddr(cidrv4)) %}
          - network: "{{ ansible_facts["default_ipv4"]["gateway"] }}/32"
{% endif %}
          - network: "0.0.0.0/0"
            gateway: "{{ ansible_facts["default_ipv4"]["gateway"] }}"
{% endif %}
{% if ansible_facts["default_ipv6"] is defined and ansible_facts["default_ipv6"]["address"] is defined and ansible_facts["default_ipv6"]["address"][:4] != 'fe80' %}
{% if ansible_facts["default_ipv6"]["gateway"][:4] != 'fe80' and (not (ansible_facts["default_ipv6"]["gateway"] | ansible.utils.ipaddr(cidrv6))) %}
          - network: "{{ ansible_facts["default_ipv6"]["gateway"] }}/128"
{% endif %}
          - network: "::/0"
            gateway: "{{ ansible_facts["default_ipv6"]["gateway"] }}"
{% endif %}
{% for interface in ansible_facts["interfaces"]|sort if not interface in [ansible_facts["default_ipv4"]["alias"],'lo','eth0','dummy0','dummy1','wg0','wg1'] %}{% set iface = ansible_facts[interface] %}
{% if iface.type is defined and iface.type == "ether" and iface.pciid is defined and iface.macaddress is defined
  and not iface.module in ['cdc_ether'] %}
      - interface: {{ interface }}
        ignore: true
{% endif %}
{% endfor %}
    kubespan:
      enabled: true
  install:
    image: ghcr.io/siderolabs/installer:v{{ talos_version }}
    bootloader: true
    wipe: true
{% set mounts = ansible_facts.mounts | selectattr('mount', 'in', ['/boot', '/']) | map(attribute='device') | reject('regex', '^/dev/mapper/.+') | list %}
{% if mounts | length > 0 %}
    disk: {{ mounts[0] | regex_replace('p?[0-9]+$', '') }}
{% else %}
    disk: {{ talos_disk }}
{% endif %}
