#!/bin/sh
exec tail -n +3 $0

{% set mounts = ansible_facts["mounts"] | map(attribute='mount') | list %}
{% if "/boot" in mounts %}{% set boot_folder = "" %}{% else %}{% set boot_folder = "/boot" %}{% endif %}
menuentry "Talos" {
    linux {{ boot_folder }}/talos-kernel {{ talos_cmdline }} {{ talos_cmdline_net }} {{ talos_cmdline_addon }}
    initrd {{ boot_folder }}/talos-initrd.xz
}
menuentry "Reset Talos" {
    linux {{ boot_folder }}/talos-kernel {{ talos_cmdline }} {{ talos_cmdline_net }} {{ talos_cmdline_addon }} talos.experimental.wipe=system:EPHEMERAL,STATE
    initrd {{ boot_folder }}/talos-initrd.xz
}
